

/*@media (min-width: 768px) {*!*/
/*   .navbar .navbar-nav {*!*/
/*        margin-left: 300px;*!*/
/**/
/*    }*/
/**/
/*    .navbar .navbar-collapse {*/
/*        text-align: center;*/
/*    }*/
/**/
/*    li{*/
/*        padding-right: 30px;*/
/*    }*/
/*}*/

img{
    width: 300x;
    height: 100px;

}



.col-12 h1{
    text-align: center;
}

h2{
    text-align: center;
}

.form-group{
    text-align: center;
}

.col-3{
    padding-right: 12px;
}

.img-fluid{
    width: 38px;
    height: 38px;
    padding : 5px;
    margin-top: 10px;
}

#img-carte{
    width: 300px;
    height: 300px;
}


label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}

label .password-icon .feather-eye-off {
    display: none;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -17px;
    right: 105px;
    transform: translateY(-50%);
    width: 20px;
    transition: all 0.2s;
}



#carousel_home img{
    width: 100%;
    height: 80%;
    display: block;
}

.concept{
    display: none;
}

.li.borderless{
    border : none;
}

.carousel-inner carousel-item{
    margin: auto;
    display: block;
    margin-right: auto;


}
