#parse("base.html")
#@mainLayout()

<div class="container">

    <div class="container border border-danger rounded shadow flex-box" id="container">

        <div class="row justify-content-center">
            <div class="col-12 justify-content-center">
                <br> <br> <h2 style="color: var(--red)"> Détails de la sortie </h2> <br>

                <div class="col-12 text-center font-weight-bold">$detailEvenement.getDateEvenement()</div> <br>
                <div class="col-12 text-center">$detailEvenement.getNomEvenement()</div> <br>
                <div class="latitude" id="latitude"> $detailEvenement.getLatitude() </div>
                <div class="longitude" id="longitude"> $detailEvenement.getLongitude()</div>
                <div class="row text-center justify content-center">
                <div class="col-12" id="myMap" style='position:relative;width:600px;height:400px;'></div> <br>
                </div>
                <div class="col-12 text-center">$detailEvenement.getCommentairesEvenement()</div> <br>
<!--                <div class="col-12 text-center">$detailEvenement.gettypeEvent()</div> <br>-->

                <hr>
                <h4 class="text-center">Organisateur : </h4>
                <div class="col-12 text-center">$organisateur.getPseudo()</div> <br>
                <h4 class="text-center">Participants : </h4>

                #foreach ($participants in $ListeParticipants)

               <div class="col-12 text-center"> $participants.getPseudo()</div> <br>
                #end
                <div class="row justify-content-center">
                    <button class ="btn btn-danger" type="button" onClick="location.href='/participation'" >Participer</button>
                </div>


            </div>
        </div>
    </div>

    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AodddEr2Z6uTzo8eX5a7xaLk4OHojboX8Bj_wnZ5vxxk1D7H17BO89v-SEGR9HMe' async defer></script>
    <script src="/script/detailEvent.js"></script>
#end