#parse("base.html")
#@mainLayout()

<div class="container float-center">
<h1 style="color: var(--red)">Les sorties</h1> <br>
</div>

<div class="container">
    <div class="row justify-content-center row-cols-3 row-cols-lg-12">
        #foreach ($event in $listeEvenements)
        <div class="col-12 col-lg-2 mr-1 border border-danger rounded shadow flex-box">
           <img class="img-fluid border border-dark rounded-circle mt-2 mb-2" src="img/running_1.svg"> <hr>
                <div class="row justify-content-center font-weight-bold">$event.getdateEvenement()  </div> <br>
                <div class="row justify-content-center">$event.getnomEvenement() </div>  <br>
                <div class="row text-center">$event.getcommentairesEvenement() </div> <br>
            <div class="row justify-content-center">
                <script>
                    fuction setUrl(){
                        window.location.href'=evenements/details?detail_id=' + document.getElementById(1).value;
                    };
                </script>
                <button class ="btn btn-danger" type="submit" id ="1" onClick="setUrl(); return false;">Détails</button>
                </div>


        </div>
        #end

    </div>
</div>





<!--$listeEvenements[0].toString()-->




#end
