#parse("base.html")
#@mainLayout()

<div class="container float-center">
<h1 style="color: var(--red)">Les sorties</h1> <br>
</div>

<div class="container">
    <div class="row justify-content-center row-cols-3 row-cols-lg-12">
        #foreach ($event in $listeEvenements)
        <div class="col-12 col-lg-2 mr-1 border border-danger rounded shadow flex-box">
           <img class="img-fluid border border-dark rounded-circle mt-2 mb-2" src="img/running_1.svg"> <hr>
                <div class="row justify-content-center font-weight-bold">$event.getdateEvenement()  </div> <br>
                <div class="row justify-content-center">$event.getnomEvenement() </div>  <br>
                <div class="row text-center">$event.getcommentairesEvenement() </div>

                <div class="row justify-content-center mt-2"> <a class="btn btn-danger align-middle" role="button" id="1"> Détails </a>
                </div>

        </div>
        #end

    </div>
</div>

<div class="modal-container">

        <div class="container border border-danger rounded shadow flex-box" id="container">

            <div class="row justify-content-center">
                <div class="col-12 justify-content-center">
                    <button class="btn btn-outline-danger float-right mt-3 " id="close"> Fermer </button>
                    <br> <br> <h2 style="color: var(--red)"> Détails de la sortie </h2> <br>

                <div class="col-12 text-center font-weight-bold">$listeEvenements[0].getdateEvenement()</div> <br>
                <div class="col-12 text-center">$listeEvenements[0].getnomEvenement()</div> <br>
                <img class="img-fluid rounded-circle" id="img-carte" src="img/carte_test.png">
                <div class="col-12 text-center">$listeEvenements[0].getcommentairesEvenement()</div> <br>
                <hr>
                <h4 class="text-center">Organisateur : </h4>
                <div class="col-12 text-center">$listeEvenements[0].getorganisateurId()</div> <br>
                <h4 class="text-center">Participants : </h4>
                <div class="col-12 text-center">$listeEvenements[0].getparticipants()</div> <br>
                <button class="btn btn-danger align-self-center "> Participer </button>

            </div>
        </div>
</div>



<!--$listeEvenements[0].toString()-->




#end
