#parse("base.html")
#@mainLayout()

<div class="container">
     <div class="row">
        <div class="col-12">
            <h1>Connectez vous ou créez votre compte </h1>
        </div>
     </div>

    <div class="row" style="height:60px;">
        <div class="col-12"></div>
    </div>

     <div class="row">
        <!--         Création du bloc inscription -->
         <div class="col-12 col-lg-6">
             <h2> Je n'ai pas encore de compte </h2>
             <form id="formulaire d'inscription" name="Formulaire" method="POST" action="/bienvenu">
             <div class="form-group">
                 <label for="nom"> Nom <input type="text" name="nom"  required="required" class="form-control" id="nom" > </label>
                 <label for="prenom"> Prénom <input type="text" name="prenom"  required="required" class="form-control" id="prenom"/></label>
                 <label for="pseudo"> Pseudo <input type="text" name="pseudo"  required="required" class="form-control" id="pseudo"/></label>
                 <label for="email"> Adresse E-mail  <input type="email" name="email" required="required" class="form-control" id="email"/> </label>
                 <label for="telephone"> Téléphone <input type="text" name="telephone" class="form-control" id="telephone"/></label>
                 <label for="password"> Mot de passe<input type="password" name="password"  required="required" minlength="8" required class="form-control" id="password "/>
                     <div class="password-icon">
                         <i data-feather="eye"></i>
                         <i data-feather="eye-off"></i>
                     </div>
                 </label>

                  <br>

                 <button  class="btn btn-danger" type="submit" > S'inscrire </button>
<!--                 onClick="location.href ='login/bienvenu?pseudo='+ document.getElementById('pseudo').value + 'prenom'= document.getElementById('prenom').value + 'nom' = document.getElementById('nom').value  + 'password'= document.getElementById('password').value + 'telephone' = document.getElementById('telephone').value + 'email' = document.getElementById('email').value"-->

             </div>
             </form>
         </div>
                <!--            Création du bloc connection -->
         <div class="col-12 col-lg-6">
             <h2> J'ai déja un compte, je me connecte </h2>

             <form id="formulaireInscription" name="formulaire" method="POST" action="/login" >
                 <div class="form-group">
                     <label for ="pseudo"> Pseudo <input type="text" name="pseudo" required="required" class="form-control" id="pseudo"/></label>
                     <label for="password"> Mot de passe <input type="password" name ="password" required="required" class="form-control" id="password"/></label>

                     <br>


                         <button class="btn btn-danger" type="submit" id="open"> Se connecter </button>


                 </div>

             </form>
         </div>
     </div>


</div>

<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();

    const eye = document.querySelector(".feather-eye");
    const eyeoff= document.querySelector(".feather-eye-off");
    const passwordField = document.querySelector("input[type=password]");

    eye.addEventListener("click", () => {
        eye.style.display = "none";
        eyeoff.style.display = "block";
        passwordField.type = "text";
    });

    eyeoff.addEventListener("click", () => {
        eyeoff.style.display = "none";
        eye.style.display = "block";
        passwordField.type = "password";
    });


    const titreSpans = document.querySelectorAll('h1 span');
const paragrapheDroite1 = document.getElementById('droite1');
const paragrapheDroite2 = document.getElementById('droite2');
const paragrapheGauche1 = document.getElementById('gauche1');
const paragrapgeGauche2 = document.getElementById('gauche2');



window.addEventListener('load',() =>{

    const timeline = gsap.timeline({paused:true});

    timeline
        .staggerFrom(titreSpans, 1, {top: -50, opacity:0, ease: "power2.out"}, 0.3)


    timeline.play();
})

$(document).ready(function (){

    $(".btn-info").click(function (){

        $(".concept").slideDown(2000);
    });
});
</script>
#end
