#parse("base.html")
#@mainLayout()

<div class="container">
     <div class="row">
        <div class="col-12">
            <h1>Connectez vous ou créez votre compte </h1>
        </div>
     </div>

    <div class="row" style="height:60px;">
        <div class="col-12"></div>
    </div>

     <div class="row">
        <!--         Création du bloc inscription -->
         <div class="col-12 col-lg-6">
             <h2> Je n'ai pas encore de compte </h2>
             <form id="formulaire d'inscription" name="Formulaire" action="#" method="POST" >
             <div class="form-group">
                 <label for="nom"> Nom <input type="text" name="nom" required="required" class="form-control" id="nom "  </label>
                 <label for="prenom"> Prénom <input type="text" name="prenom" required="required" class="form-control" id="prenom "</label>
                 <label for="pseudo"> Pseudo <input type="text" name="pseudo" required="required" class="form-control" id="pseudo "</label>
                 <label for="email"> Adresse E-mail  <input type="email" name="email" required="required" class="form-control" id="email"</label>
                 <label for="telephone"> Téléphone <input type="text" name="telephone" class="form-control" id="nom "</label>
                 <label for="password"> Mot de passe<input type="password" name="password" required="required" minlength="8" required class="form-control" id="password "</label>
                  <br>


                 <button type="button" class="btn btn-danger" onClick="location.href ='login/bienvenue=' "> S'inscrire </button>


             </div>
             </form>
         </div>
                <!--            Création du bloc connection -->
         <div class="col-12 col-lg-6">
             <h2> J'ai déja un compte, je me connecte </h2>

             <form id="formulaireInscription" name="formulaire" method="GET" action="#" >
                 <div class="form-group">
                     <label for="identifiant"> Pseudo <input type="text" name="user_pseudo" required="required" class="form-control" id="identifiant"/></label>
                     <label for="password"> Mot de passe <input type="password" required="required" class="form-control" id="password"/></label>
                     <br>


                         <button class="btn btn-danger" type="button" id="open" onClick="location.href ='login/account?user_Pseudo=' + document.getElementById('identifiant').value"> Se connecter </button>

                 </div>

             </form>
         </div>
     </div>


<!--<di        v>-->
<!--    Coucou $user--
<!--    j'ai $age-->
<!--</div>-->
</div>
#end
