#parse("base.html")
#@mainLayout()

<div class="container"
     <div class="row" >
         <div class="col-12 col-lg-6-text-center">
         <h1> Bonjour !</h1>
         </div>

         <hr>

         <div class="col 12 col-lg-6">

             <h3 class="text-danger"> Mon Compte  </h3> <br>

             <h4> Nom </h4> $account.getNom() <br>


             <h4> Prénom </h4> $account.getPrenom() <br>


             <h4> Pseudo </h4> $account.getPseudo() <br>


             <h4> Adresse Email </h4> $account.getEmail() <br>


             <h4> Téléphone </h4> $account.getTelephone() <br>


             <h4> Mot de Passe </h4> $account.getPassword() <br>




         </div>

     </div>
</div>










#end