#parse("base.html")
#@mainLayout()

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Créer une sortie </h1>
        </div>
    </div>

    <div class="row" style="height:60px;">
        <div class="col-12"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 justify-content-center">
            <form id="formulaire d'inscription" name="Formulaire" method="POST" action="/nouveau">
                <div class="form-group">
                    <label for="nom"> Nom de la sortie <input type="text" name="nom"  required="required" class="form-control" id="nom"/></label>
                    <label for="date"> Date <input type="date" name="date"  required="required" class="form-control" id="date" > </label>
                    <label for="typeSortie"> Choisir le type de sortie</label>
                    <select name="typeSortie" id="typeSortie">
                        <option value="Running"> Running</option>
                        <option value="Velo"> Velo </option>
                    </select> <br>
                    <label for="adresse"> Adresse du rendez vous  <input type="text" name="adresse"  class="form-control" id="adresse"/></label> <br>
    </div>
                    <div class="row text-center justify content-center">
                        <div class="col-12" id="myMap" style='position:relative;width:600px;height:400px;'></div> <br>
                    </div>
                    <label for="latitude"> Latitude <input type="number" name="latitude" min="0" step="0.01" required="required" class="form-control" id="latitude"/> </label>
                    <label for="longitude"> Longitude<input type="number" name="longitude" min="0" step="0.01" required="required" class="form-control" id="longitude"/> </label>
                    <label for="commentaires"> Informations sur la sortie</label> <textarea name="commentaires" placeholder="Merci de renseigner le type de sortie, le point de rendez vous précis, nombre de km, consignes, niveau...." required="required" class="form-control" id="commentaires"></textarea>



                    <br>

                    <button  class="btn btn-danger" type="submit" > Enregistrer </button>
                </div>
            </form>



                   </div>

    </div>


   <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AodddEr2Z6uTzo8eX5a7xaLk4OHojboX8Bj_wnZ5vxxk1D7H17BO89v-SEGR9HMe' async defer></script>
   <script>

   var bMapAPIKey = "AodddEr2Z6uTzo8eX5a7xaLk4OHojboX8Bj_wnZ5vxxk1D7H17BO89v-SEGR9HMe";

   var latitude = document.getElementById('latitude');
   var longitude = document.getElementById('longitude');

   var displayLat = latitude.textContent;
   var displayLong = longitude.textContent;

   console.log(displayLat);
   console.log(displayLong);

   function GetMap()
   {
   "use strict";

   var map = new Microsoft.Maps.Map('#myMap', {
   center: new Microsoft.Maps.Location(displayLat, displayLong),
   mapTypeId: Microsoft.Maps.MapTypeId.aerial,
   zoom: 12
   });


   var center = map.getCenter();


   var pin = new Microsoft.Maps.Pushpin(center, {
   title: 'Rendez-vous ',
   subTitle: '',
   text: '1'
   });


   </script>

